#NavBarEle{
    background-image: url("/images/header-background-png-2.png" ) ;
    background-size: "cover";
    height: 100px;
}
.menu{
    color: blanchedalmond;
    width: 100%;
}

.LinkEle{
    text-decoration-color: none;
    color: antiquewhite;
    font-family: cursive;
  
}



#searchbox {
    width: 80%;
    border-radius: 400px;
  } 
  #searchbutton{
      border-radius:400px;
      background-color: blue;
      color:white ;
      border-color: none;
      outline-color: none;
  }
  #searchbutton :hover {
    background-color: rgb(6, 6, 133); 
    color: white;
  }
